<ion-header>
  <ion-toolbar>
    <ion-title>
      I Do Not Owe You Boba
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content" #scrollArea [scrollEvents]="true">
  <app-menu-list></app-menu-list>
  <!-- <app-menu-list></app-menu-list>
  <app-menu-list></app-menu-list>
  <app-menu-list></app-menu-list>
  <app-menu-list></app-menu-list>
  <app-menu-list></app-menu-list>
  <app-menu-list></app-menu-list> -->
</ion-content>

<ion-footer>
  <app-cart-fab
    class="cart-fab"
    [appHideFab]="scrollArea"
    fabClass="cart-fab"
  ></app-cart-fab>
</ion-footer>
