.cart-item-list {
  padding-left: 15px;
  padding-right: 15px;
}

.name-label {
  font-weight: 600;
  --color: var(--ion-color-primary);
}

.price-label {
  text-align: right;
}

.button-view {
  position: fixed;
  height: 10%;
}

.checkout-button {
  padding-left: 15px;
  padding-right: 15px;
}
