.cart-item-list {
  padding-left: 15px;
  padding-right: 15px;
}

.name-label {
  font-weight: 600;
  --color: var(--ion-color-primary);
}

.edit-button {
  width: 25px;
  height: 25px;
  --border-radius: 50%;
  --padding-start: 0px;
  --padding-end: 0px;
}

.edit-icon {
  --width: 100%;
  --height: 100%;
}

.price-label {
  text-align: right;
}

.button-view {
  position: fixed;
  height: 10%;
}

.checkout-button {
  padding-left: 15px;
  padding-right: 15px;
}
