ion-content {
  --background: var(--ion-color-light);
}

ion-item {
  border-top: 1px solid var(--ion-color-medium);
  --inner-padding-end: 0px;
  --padding-start: 5px;
}

.list-md,
.list-ios {
  padding: 0px;
  margin: 0px;
}

.section-list {
  margin: 0px;
  --ion-item-background: #ffffff;

  .section-active,
  .section-inactive {
    --min-height: 58px;
    margin: 0;
  }
}

.section-active {
  --ion-item-background: var(--ion-color-primary);
  --ion-item-color: #ffffff;
  font-weight: 600;
  border-bottom: 1px solid var(--ion-color-medium);

  ion-icon {
    color: #ffffff;
  }
}

.section-inactive {
  --ion-item-background: #ffffff;
  --ion-item-color: #000000;

  ion-icon {
    color: #000000;
  }
}

.subsection-list {
  padding: 0px;
  margin: 0px;
  .subsection-active,
  .subsection-inactive {
    margin: 0px;
  }
}

.subsection-active {
  --ion-item-background: var(--ion-color-primary-tint);
  --ion-item-color: #ffffff;
  font-weight: 600;
  border-bottom: 1px solid var(--ion-color-medium);

  ion-icon {
    color: #ffffff;
  }
}

.subsection-inactive {
  --ion-item-background: #ffffff;
  --ion-item-color: #000000;

  ion-icon {
    color: #000000;
  }
}

.menu-item-list {
  margin: 0px;
}

.subsection-description {
  border-bottom: 1px solid var(--ion-color-medium);
}
